<!doctype html>
<html lang="en">
  <head>
    {% include "partials/head-content.njk" %}
  </head>
  <body>
    <div class="grid">
      <main class="gc-main">
        {{ content|safe }}
      </main>
      <div class="gc-main">
        {% include "partials/footer.njk" %}
      </div>
    </div>
  </body>
</html>
