<!doctype html>
<html lang="en">
  <head>
    {% include "partials/head-content.njk" %}
  </head>
  <body class="h-entry">
    <main class="e-content main grid prose {% if wideLayout %}prose--wide{% endif%}">
      {% if title %}
        <header class="prose__header">
          <h1 class="p-name fancy-headline">{{ title }}</h1>
          <small>
            <time class="dt-published" datetime="{{ page.date }}">
            {{ page.date|formatDate }}
            </time>
          </small>
        </header>
      {% endif %}
      {{ content|safe }}
      {% if not noBlurb %}
        <aside class="gc-aside gr-blurb">
          <div class="prose">
            <p>
            <img alt="Frederic Marx" class="u-photo circle" src="/frederic-marx.jpg" srcset="/frederic-marx.jpg 1x, /frederic-marx@2x.jpg 2x" height="60" width="60">
            </p>
            <p>My name is <a class="p-author h-card" href="https://fmarx.com" rel="author">Frederic Marx</a>. I&nbsp;am a front-end developer building websites that support and inspire music makers at <a href="https://www.ableton.com/">Ableton</a> in&nbsp;Berlin.</p>
          </div>
        </aside>
      {% endif %}
    </main>
    <div class="grid">
      <div class="gc-main">
        {% include "partials/footer.njk" %}
      </div>
    </div>
  </body>
</html>
