<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Frederic Marx, Front-End Developer</title>
  </head>
  <body>
    <main>
      {{ content|safe }}
    </main>
    {% include "partials/footer.njk" %}
  </body>
</html>
