.main-header {
  padding-top: $space-1;
  padding-bottom: $space-1;
  border-bottom: 1px solid $separator-color;

  @media (min-width: 630px) {
    padding-top: $space-2;
    padding-bottom: $space-2;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.main-navigation__links {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  @media (min-width: 1010px) {
    width: 50%;
    flex-grow: 0;
  }
}
