<footer class="main-footer">
  <section>
    <h2>Notes</h2>
    {{#each notes}}
      <li><a href="{{cleanUrl this.path}}">{{this.title}}</a></li>
    {{/each}}
  </section>
  <section>
    <h2>Let's stay in touch</h2>
    <p><a rel="me" href="https://twitter.com/fredericmarx">Twitter</a></p>
    <p><a rel="me" href="https://medium.com/@fredericmarx">Medium</a></p>
    <p><a rel="me" href="https://github.com/fredericmarx">Github</a></p>
    <p><a rel="me" href="https://codepen.com/fredericmarx">Codepen</a></p>
  </section>
  <section>
    <h2>Contact</h2>
    <p><a rel="me" href="mailto:hi@fmarx.com">hi@fmarx.com</a></p>
  </section>
</footer>
<script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/serviceworker.js');
}
</script>
