<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  <link href="main.css" rel="stylesheet"></link>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Frederic Marx — Web Designer, Front-End Developer</title>
</head>
<body class="h-card">
  {{> header }}
  <main role="main" class="prose pb3">
    <div class="container">
      <div class="py3"><img alt="" class="u-photo block circle circle-correction" src="frederic-marx.jpg" height="60" width="60"></div>
      {{{contents}}}
    </div>
  </main>
  {{> footer }}
</body>
</html>
