<!doctype html>
<html lang="en">
<head>
  {{> head }}
  <title>{{title}} | Frederic Marx — Web Designer, Front-End Developer</title>
</head>
<body>
  {{> header }}
  <main role="main" class="py3 prose">
    <div class="container">
      {{{contents}}}
      <ul class="list-reset">
      {{#each notes}}
        <li class="mb1">
          <h2><a href="{{rootPath}}{{this._path}}">{{this.title}}</a></h2>
          <p class="h5">Published {{this.date}}<br>
          {{this.readTime}} minute read</p>
        </li>
      {{/each}}
      </ul>
    </div>
  </main>
  {{> footer }}
</body>
</html>
