<!doctype html>
<html lang="en">
<head>
  {{> head }}
  <title>{{title}} • Frederic Marx — Web Designer, Front-End Developer</title>
</head>
<body>
  {{> header }}
  <main role="main" class="py3 prose serif">
    <article class="h-entry">
      <div class="container">
        <h1 class="p-name">{{title}}</h1>
        <p class="h5 sans">Published by <a class="p-author h-card" href="http://fmarx.com">Frederic Marx</a> on <time class="dt-published" datetime="{{date}}">{{date}}</time><br>
        {{readTime}} minute read</p>
      </div>
      <div class="e-content container">
        {{{contents}}}
      </div>
      <div class="container">
        {{#if webmentions}}
          {{> webmentions}}
        {{/if}}
      </div>
    </article>
  </main>
  {{> footer }}
  {{#if containsTweets}}
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  {{/if}}
  {{#if containsVimeo}}
    {{> vimeo}}
  {{/if}}
</body>
</html>
