img {
  max-width: 100%;
  height: auto !important;
}

svg {
  height: 100%;
  width: 100%;
}

.square-2 {
  height: $space-2;
  width: $space-2;
}

.square-3 {
  height: $space-3;
  width: $space-3;
}
