html {
  font-size: 21px;
  line-height: $base-line-height;
  color: $color-text;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  font-variant-numeric: oldstyle-nums;
  background: $color-main-background;
}

body {
  @include sans();
}

.nitti-grotesk-loaded {
  font-size: 24px;
}

a {
  color: $color-link;
  text-decoration: none;
}

.link-fancy {
  border-bottom: 2px solid rgba($color-lime, .5);

  &:hover,
  &:focus {
    background-image: linear-gradient(transparent 95% , $color-lime 95%);
    border-bottom-color: $color-lime;
  }
}

.prose {
  line-height: $base-line-height;

  * {
    margin-top: 0;
  }

  h1 {
    font-size: $h1;
    margin-top: $space-2;
    margin-bottom: $space-3;
  }

  h2 {
    font-size: $h2;
    margin-top: $space-3;
    margin-bottom: $space-2
  }

  h3 {
    font-size: $h3;
    margin-top: $space-3;
    margin-bottom: $space-2
  }

  a:not([class*="btn"]) {
    @extend .link-fancy;
  }

  figure {
    @extend .h5;
    padding-right: $space-1;
    text-align: center;
    margin: $space-2 auto;
  }

  figcaption {
    padding-top: $space-1;
    @include sans();
  }
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-reset {
  border: none !important;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans();
}

.h1 {
  font-size: $h1;
}

.h2 {
  font-size: $h2;
}

.h3 {
  font-size: $h3;
}

.h4 {
  font-size: $h4;
}

.h5 {
  font-size: $h5;
}

.uppercase {
  text-transform: uppercase;
}

hr {
  border-top: 1px solid $separator-color;
  margin-top: $space-2;
  margin-bottom: $space-2;
}

.serif {
  @include serif();
}

.sans {
  @include sans();
}
