@font-face {
  font-family: "Nitti Grotesk";
  src: url("https://fmarx.com/fonts/nittigrotesk-normal-v20.woff2") format("woff2"),
       url("https://fmarx.com/fonts/nittigrotesk-normal-v20.woff") format("woff");
}

@font-face {
  font-family: "Nitti Grotesk";
  font-style: italic;
  src: url("https://fmarx.com/fonts/nittigrotesk-normalitalic-v20.woff2") format("woff2"),
       url("https://fmarx.com/fonts/nittigrotesk-normalitalic-v20.woff") format("woff");
}

@font-face {
  font-family: "Nitti Grotesk";
  font-weight: bold;
  src: url("https://fmarx.com/fonts/nittigrotesk-bold-v20.woff2") format("woff2"),
       url("https://fmarx.com/fonts/nittigrotesk-bold-v20.woff") format("woff");
}
