<footer class="main-footer">
  <div class="container">
    <section>
      <h2>Notes</h2>
      <ul class="list-reset">
      {{#each notes}}
        <li><a href="{{rootPath}}{{this._path}}">{{this.title}}</a></li>
      {{/each}}
      </ul>
    </section>
    <section>
      <h2>Stay in touch</h2>
      <ul class="list-reset">
        <li><a rel="me" href="https://twitter.com/fredericmarx">Twitter</a></li>
        <li><a rel="me" href="https://medium.com/@fredericmarx">Medium</a></li>
        <li><a rel="me" href="https://github.com/fredericmarx">Github</a></li>
        <li><a rel="me" href="https://codepen.com/fredericmarx">Codepen</a></li>
      </ul>
    </section>
    <section>
      <h2>Contact</h2>
      <p><a class="u-email" rel="me" href="mailto:hi@fmarx.com">hi@fmarx.com</a></p>
    </section>
  </container>
</footer>
<script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/serviceworker.js')
}
</script>
