<meta charset="utf-8">
<link href="{{rootPath}}main.css" rel="stylesheet"></link>
{{> fontloading}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="https://fmarx.com/frederic-marx@512x512.jpg">
<meta name="theme-color" content="#000">
{{#if webmentions}}
  <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention">
{{/if}}
{{> desc}}
<link rel="icon" href={{rootPath}}favicon.png>
<link rel="icon" sizes="192x192" href={{rootPath}}favicon@192x192.png>
<link rel="apple-touch-icon" sizes="128x128" href={{rootPath}}favicon@128x128.png>
