<header class="main-header">
  <div class="container">
    <div class="navigation h5 pr1">
      <a rel="me" href="https://fmarx.com" class="flag__media">
        <span class="flag">
          <span class="icon color-brand mr1">
            {{> logo }}
          </span>
          <span class="flag__content hide-medium pr3">
            Design&nbsp;&amp;&nbsp;Code
          </span>
        </span>
      </a>
      <ul class="main-navigation__links list-reset">
        <li class="inline-block hide-small"><a class="inline-block pl1" href="{{rootPath}}">Home</a></li>
        <li class="inline-block"><a class="inline-block pl1" href="{{rootPath}}about/">About</a></li>
        <li class="inline-block"><a class="inline-block px1" href="{{rootPath}}notes/">Notes</a></li>
        <li class="inline-block"><a class="inline-block btn-primary" href="mailto://hi@fmarx.com">Work<span class="hide-tiny"> with me</span></a></li>
      </ul>
    </div>
  </div>
</header>
