$color-blue: #3BA9E0;
$color-purple: #6F5CCC;
$color-lime: #7fffd4;
$color-text: darken(white, 70%);

$color-gray-15: darken(white, 15%);

$separator-color: $color-gray-15;

$color-link: $color-purple;

$color-brand: $color-purple;

$color-headline: black;

$space-1: 15px;
$space-2: 30px;
$space-3: 60px;
$space-4: 90px;

$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .875rem;
$h6: .75rem;

$base-font-size: 21px;
$base-line-height: $space-2;

$monospace: menlo, monospace;

$line-height-1: 1;
$line-height-2: 1.125;
$line-height-3: 1.25;
$line-height-4: 1.5;
$letter-spacing: 1;
$caps-letter-spacing: .2em;
$bold-font-weight: bold;
