body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Fira Sans", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", sans-serif;
}

.prose {
  font-size: $h3;
  line-height: $base-line-height;
  font-family: "Iowan Old Style", Constantia, Georgia, serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $heading-font-family;
  }

  h1 {
    font-size: $h1;
  }

  h2 {
    font-size: $h2;
  }

  h3 {
    font-size: $h3;
  }
}

a {
  color: $color-link;
  text-decoration: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
