---
layout: base
collection: nav
navPriority: 1
navClass: hide
noBlurb: true
---

<a href="/"><img alt="Frederic Marx" class="circle" src="frederic-marx.jpg" height="60" width="60"></a>

<p>My name is <a href="/">Frederic Marx</a>. I&nbsp;am a front-end developer building websites that support and inspire music makers at <a href="https://www.ableton.com/">Ableton</a> in&nbsp;Berlin.</p>
