<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  <link href="main.css" rel="stylesheet"></link>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}} | Frederic Marx — Web Designer, Front-End Developer</title>
  {{#if webmentions}}
    <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />
  {{/if}}
</head>
<body>
  {{> header }}
  <main role="main" class="py3 prose">
    <div class="container">
      {{{contents}}}
      {{#if webmentions}}
        {{> webmentions}}
      {{/if}}
    </div>
  </main>
  {{> footer }}
</body>
</html>
