<footer class="main-footer">
  <section>
    {% if page.url.startsWith('/til/') %}
    <h2>More things I’ve learned</h2>
    {% else %}
    <h2>Things I learned</h2>
    {% endif %}
    <ul class="list-reset">
      {%- for post in collections.til -%}
        <li>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
      {%- endfor -%}
    </ul>
  </section>
  <section>
    <h2>Stay in touch</h2>
    <ul class="list-reset">
      <li><a rel="me" href="https://twitter.com/fredericmarx">Twitter</a></li>
      <li><a rel="me" href="https://github.com/fredericmarx">Github</a></li>
      <li><a rel="me" href="https://codepen.com/fredericmarx">Codepen</a></li>
    </ul>
  </section>
  <section>
    <h2>Contact</h2>
    <p><a class="u-email" rel="me" href="mailto:marx.frederic@gmail.com">marx.frederic@gmail.com</a></p>
  </section>
</footer>
