<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if gay.environment == 'gay' %}
  <title>{% if title %}{{ title }} ✨ {% endif %}Frederic Marx, Front-End Developer 🦄 </title>

  <link rel="icon" href="/gay-icon.svg">
  <link rel="canonical" href="https://fmarx.com{{ page.url }}" />
{% else %}
  <title>{% if title %}{{ title }} | {% endif %}Frederic Marx, Front-End Developer</title>
  <link rel="icon" href="/icon.svg">

  <!--
    “Please please please make a reference to this glorious domain name
    in your meta title or meta description.”
    https://twitter.com/myriamjessier/status/1314176196121440256
  -->
  <link rel="rainbow-connection" href="https://software.gay{{ page.url }}" />
  <link rel="me" href="https://software.gay" />

  {% if title %}
    <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention">
  {% endif %}
{% endif %}

<meta name="description" content="{% if description %}{{ description }}{% else %}Building websites that support and inspire music makers at Ableton in Berlin{% endif %}">
<meta name="twitter:description" content="{% if description %}{{ description }}{% else %}Building websites that support and inspire music makers at Ableton in Berlin{% endif %}">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@fredericmarx" />
<meta name="twitter:image:alt" content="Frederic Marx" />
<meta property="twitter:title" content="{% if title %}{{ title }}{% else %}Frederic Marx, Front-End Developer{% endif %}">
<meta property="og:image" content="https://fmarx.com/frederic-marx@1200x1200.jpg">

<meta name="theme-color" content="#000">
<style>
  {% include "partials/main.css" %}
  {% if gay.environment == 'gay' %}
    {% include "partials/gay.css" %}
  {% endif %}
</style>
<link rel="preload" href="/fonts/1468561/3f555465-0496-406b-906c-a6acb1992a66.woff2" as="font" type="font/woff2" crossorigin="anonymous">
