@font-face {
  font-family: "Tundra";
  src: url("/fonts/1468561/3f555465-0496-406b-906c-a6acb1992a66.woff2") format("woff2"),
    url("/fonts/1468561/d161abb5-da97-4ac0-94b1-8f9f26efc10e.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tundra";
  src: url("/fonts/1468541/a7dbff3b-a233-4616-b19d-9a0eb2f90ff8.woff2") format("woff2"),
    url("/fonts/1468541/755d5ff0-c265-4d23-bad6-5f7781ee45b4.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


:root {
  --space-1: clamp(1rem, 5vw, 3rem);
  --pink: #D60270;
  --purple: #9B4F96;
  --light-purple: #c852c0;
  --dark-purple: #432241;
  --teal: #69FFED;
  --blue: #0038A8;
  --beige: #FFEEAB;
  --gaydient: linear-gradient(to right, var(--pink), var(--blue));
  --bg-html: #000000;
  --bg-body: #161c1b;
  --bg-code:#2c3836;
  --cl-text: #faf2e9;
  --cl-code: var(--cl-text);
  --cl-link: var(--teal);
  --cl-link-underline: var(--light-purple);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: var(--bg-html);
}

body {
  padding: var(--space-1);
  margin: 0;
  font-size: min(calc(1em + 0.35vw), 1.5em);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--bg-body);
  color: var(--cl-text);
  font-weight: 400;
}

h2 {
  font-size: 1em;
  font-weight: 600;
}

a {
  color: var(--cl-link);
  text-decoration-color: var(--cl-link-underline);
}

a:hover,
a:focus {
  text-decoration-color: var(--cl-link);
}

img {
  max-width: 100%;
}

.prose {
  margin-bottom: 1em;
}

.prose > * {
  grid-column: main-start / main-end;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 0;
}

.prose > * + * {
  margin-top: 1em;
}

.prose > figure,
.prose > pre {
  grid-column: wide-start / wide-end;
}

.prose pre {
  font-size: 0.85em;
  padding: 1rem;
  color: var(--cl-code);
  background-color: var(--bg-code);
  overflow-x: auto;
}

.prose p > code {
  font-size: 0.85em;
  padding: 0.25em;
  color: var(--cl-code);
  background-color: var(--bg-code);
  border-radius: 0.25em;
}

.prose figure {
  margin: 0;
}

.prose figure img {
  width: 100%;
}

.prose figure > p {
  margin: 0;
}

.prose figcaption {
  font-size: 0.85em;
}

.prose blockquote {
  margin: 0;
  font-style: italic;
}

.prose blockquote > * {
  padding-left: 1em;
  border-left: 2px solid plum;
}

.prose__header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.list-reset {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.list-wide li + li {
  margin-top: .25em;
}

.link-reset:not(:focus) {
  color: inherit;
  background: none;
  text-decoration: none;
}

.circle {
  border-radius: 50%;
}

.avatar {
  display: inline-block;
  overflow: hidden;
}

.avatar img {
  display: block;
}

.grid {
  display: grid;
  grid-column-gap: var(--space-1);
  grid-template-columns:
    [full-start main-start wide-start aside-start] 1fr
    [main-end wide-end full-end aside-end];
  max-width: 30rem;
}

.grid > * {
  min-width: 0;
}

@supports (display: grid) {
  .grid {
    max-width: none;
  }
}

@media all and (min-width: 500px) {
  .grid {
    grid-template-columns:
      [full-start main-start wide-start aside-start] 5fr
      [main-end aside-end]
      1fr [wide-end full-end];
  }
}

@media all and (min-width: 1000px) {
  .grid {
    grid-template-columns:
      [full-start aside-start] 2fr
      [aside-end wide-start main-start] 4fr
      [main-end] 1fr
      [wide-end full-end];
  }
}

@media all and (min-width: 1400px) {
  .grid {
    grid-template-columns:
      1fr
      [full-start aside-start] 2fr
      [aside-end wide-start main-start] 5fr
      [main-end] 3fr
      [wide-end full-end]
      1fr;
  }
}

.gc-full {
  grid-column: full;
}

.gc-main {
  grid-column: main;
}

.gc-wide {
  grid-column: wide;
}

.gc-aside {
  grid-column: aside;
}

.gr-blurb {
  margin-top: 2em;
  max-width: 16em;
}

@media all and (min-width: 1000px) {
  .gr-blurb {
    margin-top: 1em;
    grid-row: 2 / span 9999;
  }
}

.fancy-headline.fancy-headline {
  font-family: "Tundra", Georgia, serif;
  font-weight: normal;
  font-size: 3em;
  line-height: 1.2;
  font-variant-numeric: oldstyle-nums;
}

.xxl-text.xxl-text {
  font-size: 5em;
}
