body {
  padding: 2vw;
  margin: 0;
  font-size: calc(1rem + 0.3vw);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.4;
}

h2 {
  font-size: 1em;
  font-weight: 600;
}

a {
  color: blue;
  text-decoration-color: plum;
}

a:hover,
a:focus {
  text-decoration-color: purple;
}

img {
  max-width: 100%;
}

.prose {
  margin-bottom: 1em;
}

.prose > * {
  grid-column: main-start / main-end;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 0;
}

.prose > * + * {
  margin-top: 1em;
}

.prose > figure {
  grid-column: wide-start / wide-end;
}

.prose figure {
  margin: 0;
}

.prose figure img {
  width: 100%;
}

.prose figure > p {
  margin: 0;
}

.prose figcaption {
  font-size: 0.85em;
}

.prose blockquote {
  margin: 0;
  font-style: italic;
}

.prose blockquote > * {
  padding-left: 1em;
  border-left: 2px solid plum;
}

.prose__header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.list-reset {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.link-reset:not(:focus) {
  color: inherit;
  text-decoration: none;
}

.circle {
  border-radius: 50%;
}

.grid {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns:
    [full-start main-start wide-start aside-start] 1fr
    [main-end wide-end full-end aside-end];
  max-width: 30rem;
}

.grid > * {
  min-width: 0;
}

@supports (display: grid) {
  .grid {
    max-width: none;
  }
}

@media all and (min-width: 500px) {
  .grid {
    grid-template-columns:
      [full-start main-start wide-start aside-start] 5fr
      [main-end wide-end full-end aside-end]
      1fr;
  }
}

@media all and (min-width: 600px) {
  .grid {
    grid-template-columns:
      [full-start main-start wide-start] 2fr
      [main-end wide-end aside-start] 1fr
      [aside-end full-end];
  }
}

@media all and (min-width: 1000px) {
  .grid {
    grid-template-columns:
      [full-start wide-start] 1fr
      [main-start] 4fr
      [main-end wide-end aside-start] 2fr
      [aside-end full-end];
  }
}

@media all and (min-width: 1400px) {
  .grid {
    grid-template-columns:
      1fr
      [full-start wide-start] 3fr
      [main-start] 5fr
      [main-end wide-end aside-start] 2fr
      [aside-end full-end]
      1fr;
  }
}

.gc-full {
  grid-column: full-start / full-end;
}

.gc-main {
  grid-column: main-start / main-end;
}

.gc-wide {
  grid-column: wide-start / wide-end;
}

.gc-aside {
  grid-column: aside-start / aside-end;
}

@media all and (min-width: 600px) {
  .gr-blurb {
    grid-row-start: 2;
  }
}
